<div class="container">
  <div class="navbar">
    <div class="navbar-brand">
      Severe<span>Incident</span>
    </div>

    <div class="navbar-buttons">
      <%= link_to "Log In", new_user_session_path, class: "button" %>
    </div>
  </div>
</div>
