<div class="container">
  <div class="navbar">
    <div class="navbar-brand">
      Severe<span>Incident</span>
    </div>

    <div class="navbar-buttons">
      <% if current_user %>
        <%= link_to "Log out", destroy_user_session_path, method: "delete", class: "button" %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, class: "button" %>
        <%= link_to "Log in", new_user_session_path, class: "button" %>
      <% end %>
    </div>
  </div>
</div>
